<p id="notice"><%= notice %></p>

<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<video
  id="my-video"
  class="video-js vjs-big-play-centered"
  controls
  preload="auto"
  width="640"
  height="264"
  poster="<%= url_for(@video.thumbnail) %>"
  data-setup="{}"
>
  <source src="<%= url_for(@video.clip) %>" type="video/mp4" />
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video
    </a>
  </p>
</video>

<div>
  <%= link_to like_video_path(@video), class: "like-btn", method: :put, remote: :true do %>
    <div>
      <span>Like</span>
    </div>
  <% end %>
  <span class="likes-count"><%= @video.get_upvotes.size %> </span>
</div>


<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<%= stylesheet_link_tag "public/stylesheets/video" %>
<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>

<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
