<p id="notice"><%= notice %></p>

<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<video
  id="my-video"
  class="video-js vjs-big-play-centered"
  controls
  preload="auto"
  width="640"
  height="264"
  poster="<%= url_for(@video.thumbnail) %>"
  data-setup="{}"
>
  <source src="<%= url_for(@video.clip) %>" type="video/mp4" />
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank"
      >supports HTML5 video</a
    >
  </p>
</video>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<div class="unlike-div">
  <%= form_with url:  destroy_like_url(video_id: @video.id), remote: true do |f| %>
    <%= f.submit "Unlike", class: "unlike-submit" %>
  <% end %>
</div>
<div class="like-div">
  <%= form_for @video.likes.build, url: video_likes_path(video_id: @video.id), remote: true do |f| %>
    <%= f.submit 'Like', class: 'like-submit' %>
  <% end %>
</div>

<script type="text/javascript">
  <% if @liked %>
    $(".like-div").hide();
  <% else %>
    $(".unlike-div").hide();
  <% end %>
  $(document).ready(function() {
    $('.like-submit').css('color', 'orange');
  });
</script>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>

<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
